.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.slides {
    display: flex;
    overflow: hidden; /* 이미지가 컨테이너를 벗어나지 않도록 함 */
}

.slides img {
    width: 100%;
    max-width: 500px; 
    flex-shrink: 0;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    background: url('images/image4.png') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    z-index: 1;
}

header {
    background-color: rgba(54, 7, 184, 0.8);
    color: white;
    padding: 10px 0;
    text-align: center;
    position: relative;
    z-index: 2;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
}

h2 {
    color: #4CAF50;
}

#contact {
    margin-bottom: 200px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: rgba(54, 7, 184, 0.8);
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 2;
}